<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Bokrana.com ( <%= @passionate.name %> )</h1>
    <h3>
      You have successfully signed up to Bokrana.com
    </h3>
    <p>
      your username is: <%= @passionate.email %><br>
    </p>
     <p>
      your password is: <strong><%= @password %></strong><br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
